.article-detail-main {
  .detail-header {
    .header-title {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;

      &>span {
        cursor: pointer;
      }

      &>h2 {
        flex: 1;
        text-align: center;
      }
    }

    .detail-meta {
      margin-top: 20px;
      font-size: 12px;

      &>span {
        margin-right: 15px;
      }
    }
  }

  .detail-content {
    margin-top: 20px;
  }
}