.article-main {
  &>a {
    color: unset !important;
  }

  .article-list {
    display: flex;
    width: 100%;
    min-width: 0;
    overflow: hidden;

    .article-cover {
      width: 125px;
      height: 125px;
      margin-right: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120px auto;
    }

    .article-detail {
      flex: 1;
      min-width: 0;
      width: 0;
      line-height: 1.8em;
      margin-bottom: 25px;

      .detail-list {
        &.detail-title {
          font-size: 16px;
        }

        &.detail-introduction {
          width: 100%;
          height: 29px;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.detail-time {
          font-size: 12px;
        }

        &.detail-label {
          margin-top: 8px;
          font-size: 12px;
          border-radius: 5px;
          padding: 0 10px;

          span {
            margin-right: 5px;
          }
        }
      }
    }
  }
}