@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.base-gradient-color {
  /* #A66CFF,#9C9EFE,#AFB4FF,#B1E1FF
  #D4E5EF,#BCD4E7,#A3BBDB,#8AABCC
  #BDB2B2,#91828F,#81474C,#662B2F
  #867070,#D5B4B4,#E4D0D0,#F5EBEB
  background-color: #f9a11b;
  background-color: #ffa1cf;
  background-color: #a084dc;
  background: linear-gradient(45deg, #a66cff, #9c9efe, #afb4ff, #b1e1ff);
  background: linear-gradient(45deg, #d4e5ef, #bcd4e7, #a3bbdb, #8aabcc);
  background: linear-gradient(45deg, #bdb2b2, #91828f, #81474c, #662b2f);
  background: linear-gradient(45deg, #867070, #d5b4b4, #e4d0d0, #f5ebeb); */
  background: linear-gradient(45deg, #a66cff, #f9a11b, #662b2f, #a084dc);
  background-size: 400% 400%;
  animation: base-gradient-animation 15s ease infinite;
}
@keyframes base-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.base-main {
  background-color: rgba(102, 43, 47, 0.05);
  padding: 15px;
  position: absolute;
  left: 272px;
  top: 62px;
  right: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}
