// 主题色
$primary-color: #a66cff;
$success-color: #d5b4b4;
$warning-color: #f9a11b;
$danger-color: #662b2f;

// 字体
$font-size-base: 14px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// 间距
$spacing-small: 8px;
$spacing-base: 16px;
$spacing-large: 24px;
