@import '@/uni.scss';
.common-flex-body{
	width: 100%;
	overflow-x: hidden;
	/* 锁定全屏高度 */
	/* #ifdef H5 */
	height: calc(100vh - 90rpx);
	/* #endif */
	/* #ifndef H5 */
	height: calc(100vh);
	/* #endif */
	position: relative;
	display: flex;
	flex-direction: column;
}