.moments-main {
  .moments-list {
    display: flex;

    .list-avatar {
      width: 66px;
      height: 66px;
      background-size: 66px;
      background-position: center;
    }

    .moments-detail {
      flex: 1;
      line-height: 1.8em;
      margin-bottom: 25px;

      .detail-list {
        &.detail-name {
          font-size: 16px;
        }

        &.detail-time {
          font-size: 12px;
        }

        &.detail-place,
        &.detail-content {
          font-size: 14px;
        }

        &.detail-label {
          margin-top: 15px;
          font-size: 12px;
          border-radius: 5px;
          padding: 0 10px;

          span {
            margin-right: 5px;
          }
        }
      }

      .detail-img {
        width: 920px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        div {
          margin: 10px;
          width: 280px;
          height: 280px;
          background-size: 280px auto;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .detail-video {
        margin: 20px;
        width: 300px;
        height: 200px;
        overflow: hidden;
      }
    }
  }
}